@font-face {
  font-family: 'Product Sans';
  src: url(./ProductSans-Thin.ttf);
}

@font-face {
  font-family: "Product Sans Black";
  src: url(./ProductSans-Black.ttf);
}

@font-face {
  font-family: 'Product Sans Light';
  src: url(./ProductSans-Light.ttf);
}
@font-face {
  font-family: 'Product Sans Regular';
  src: url(.ProductSans-Regular.ttf);
}
@font-face {
  font-family: 'Product Sans Medium';
  src: url(./ProductSans-Medium.ttf);
} 