@font-face {
  font-family: 'Product Sans';
  src: url(../src/assets/fonts/ProductSans-Thin.ttf);
}
@font-face {
  font-family: "Product Sans Black";
  src: url(../assets/fonts/ProductSans-Black.ttf);
}
/* @font-face {
  font-family: 'Product Sans Light';
  src: url(../src/assets/fonts/ProductSans-Light.ttf);
}
@font-face {
  font-family: 'Product Sans Regular';
  src: url(../src/assets/fonts/ProductSans-Regular.ttf);
}
@font-face {
  font-family: 'Product Sans Medium';
  src: url(../src/assets/fonts/ProductSans-Medium.ttf);
} */
html{
  scroll-behavior: smooth;
}
:root{
  --blue : #4C25EF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'GeneralSans-Variable', sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;

}
a{
  text-decoration: none;
font-family: 'GeneralSans-Variable', sans-serif;
}
.btn {
  /* background-color: transparent; */
  /* color: white; */
  padding: 24px 48px;
  /* border: none; */
  border: 1px solid white;
  border-radius: 36px;
  font-size: 1rem;
  /* margin-top: 60px; */
}
.container{
  margin: 0 auto;
  width: 1256px;
  /* width: 80%; */
}
.blog_container{
  width: 815px;
  margin:  0 auto;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Product Sans' ;
  /* font-weight: 100; */
}
h2{
  font-size: 2rem;
}
    button.btn-arrow {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 36px;
      padding: 8px 28px;
    }
/* .button {
    background-color: transparent;
    padding: 0 5px;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.button::after {
  background-color: black;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.button:hover::after {
  transform: translate(0, 0);
}

.button:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1.05);
  will-change: transform;
}
.button:hover img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
} */

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* insert styles here */
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
  /* insert styles here */
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
  /* insert styles here */
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  /* insert styles here */
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
  /* insert styles here */
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  /* insert styles here */
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
  /* insert styles here */
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* insert styles here */
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* insert styles here */
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* insert styles here */
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
  /* insert styles here */
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  /* insert styles here */
  .container {
      width: 80%;
    }
}
@media only screen and  (max-width: 1024px) {
  .hero_text {
    margin: 0;
    width: 100% !important;
  }
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
  /* insert styles here */
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
  /* insert styles here */
  .container {
      max-width:1256px ;
    }
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
  /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
  /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
  /* insert styles here */
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
  /* insert styles here */
}


/* @keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: ;
  animation: spinner 1s linear infinite;
} */